@keyframes fillButton {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes unfillButton {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}
@keyframes moveImgLeft {
  0% {
    opacity: 0;
    right: 50%;
  }
  30% {
    opacity: 0;
    right: 50%;
  }
  100% {
    opacity: 1;
    right: 70%;
  }
}
@keyframes moveImg3Left {
  0% {
    opacity: 0;
    right: 20%;
  }
  30% {
    opacity: 0;
    right: 20%;
  }
  100% {
    opacity: 1;
    right: 50%;
  }
}
@keyframes moveR {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(10px);
  }
}
@keyframes moveL {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes moveLeft {
  0% {
    width: 0px;
  }
  100% {
    width: 21rem;
  }
}
@keyframes moveRight {
  0% {
    width: 21rem;
  }
  100% {
    width: 0rem;
  }
}
body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: sans-serif;
}

.header-primary {
  color: #0c0d0e;
  font-size: 5rem;
  font-weight: 600;
}
@media (max-width: 75em) {
  .header-primary {
    font-size: 3.5rem;
  }
}

.header-primary--light {
  color: white;
}

.header-primary--hero {
  font-size: 6rem;
}
@media (max-width: 75em) {
  .header-primary--hero {
    font-size: 4.5rem;
  }
}

.header-secondary {
  color: #4c5267;
  font-family: "poppins";
  font-family: 1rem;
  color: #a7b4c0;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4c5267;
}

html {
  /* Setting HTML font to 62.5% allows user to zoon in and out while giving us the 10px base from 16px default */
  /* Later allows for easier use of rem - note: rem not compatible with ES9 */
  font-size: 62.5%;
  overflow-x: hidden;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

body.fixed {
  overflow: hidden;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.ml--small {
  margin-left: 2rem;
}

.check-box {
  color: #0050b2;
  font-size: 2rem;
  margin-right: 1rem;
}

.paragraph {
  color: #4c5267;
  line-height: 1.5;
}

.text-center {
  text-align: center;
}

.stats-container {
  gap: 3rem;
  align-items: center;
}

@media (max-width: 59em) {
  .d-none-tablet {
    display: none;
  }
}
.btn-cta {
  padding: 1.5rem 3.5rem;
  background-color: #0050b2;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.btn-cta span {
  position: relative;
  z-index: 1;
}
.btn-cta::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #000;
  position: absolute;
  top: 0%;
  left: -100%;
}
.btn-cta:hover::before {
  animation: fillButton 0.5s forwards;
}
.btn-cta.show-unfillanimation:not(:hover)::before {
  animation: unfillButton 0.5s;
}

.toastBox {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(300%);
  transition: transform 2s cubic-bezier(0.17, 0.67, 0.91, 1.26);
  z-index: 100;
}

.toastBox.active {
  transform: translateX(-50%);
}

.toast {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 2.5rem 10rem 2.5rem 0rem;
  border-radius: 12px;
  border-left: solid 6px #0050b2;
  overflow: hidden;
}
.toast .toast-close-icon {
  position: absolute;
  top: 5%;
  right: 3%;
  color: #0050b2;
  font-size: 3rem;
  font-weight: 400;
}
.toast .toast-message--tittle {
  font-size: 2rem;
  font-weight: 600;
}
.toast .toast-message--text {
  display: block;
  color: #2c2929;
}
.toast .toast-icon {
  font-size: 3.5rem;
  padding: 0 1rem 0 1rem;
}
.toast .toast-icon.toast-icon--success {
  color: #0050b2;
}
.toast .toast-icon.toast-icon--error {
  color: #ff0000;
}
.toast::before {
  position: absolute;
  bottom: 0;
  content: "";
  height: 4px;
  width: 100%;
  background-color: #0050b2;
  opacity: 0.4;
}
.toast::after {
  position: absolute;
  bottom: 0;
  content: "";
  height: 4px;
  width: 100%;
  background-color: #0050b2;
  opacity: 1;
  transition: width 5s ease 2s;
}
.toast.active::after {
  width: 0%;
}

.container {
  margin: 0 auto;
  max-width: 125rem;
  padding: 0 2rem;
}

.u-flex {
  display: flex;
}

.u-flex-d-col {
  flex-direction: column;
}

.u-flex-d-row {
  flex-direction: row;
}

.u-flex-v-center {
  align-items: center;
}

.u-flex-h-center {
  justify-content: center;
}

.u-flex-space-between {
  justify-content: space-between;
}

.u-text-center {
  text-align: center;
}

.u-gap-small {
  gap: 3px;
}

.section-footer {
  padding: 10rem 0;
  background-color: #000000;
  color: white;
}
.section-footer .footer {
  gap: 3rem;
}
@media (max-width: 34em) {
  .section-footer .footer {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 2rem;
  }
}
.section-footer .footer__mission {
  padding-right: 4rem;
}
.section-footer .footer__mission .mission-tittle,
.section-footer .footer__mission .mission-text {
  padding-bottom: 3rem;
}
@media (max-width: 34em) {
  .section-footer .footer__mission {
    padding-right: 0rem;
  }
}
.section-footer .footer__nav-heading {
  font-weight: 800;
  padding-bottom: 3rem;
}
.section-footer .footer_links-item li:not(:last-child) {
  padding-bottom: 3rem;
}
.section-footer .footer__link {
  color: #dcdada;
  font-weight: 100;
}
.section-footer .footer__link:hover {
  color: #0050b2;
}
.section-footer .footer__socials {
  grid-column: 2/-1;
}
@media (max-width: 34em) {
  .section-footer .footer__socials {
    grid-column: 1/-1;
  }
}
.section-footer .footer__socials .socials-items {
  width: 100%;
}
.section-footer .footer__socials .socials-items .socials-links {
  gap: 1rem;
}
.section-footer .footer__socials .socials-items .socials-links .socials-icons {
  color: white;
  font-size: 2.5rem;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 1rem;
}
.section-footer .footer__socials .socials-items .socials-links .socials-icons:hover {
  color: #0050b2;
  border: 1px solid #0050b2;
}
.section-footer .footer__socials .socials-items .footer-line {
  height: 2px;
  width: 50%;
  background-color: #fff;
  margin: 0 1rem 0 1rem;
}
.section-footer .footer__copy-right {
  padding-top: 2rem;
  gap: 2rem;
}
.section-footer .footer__copy-right a {
  color: #ebebeb;
}
.section-footer .footer__copy-right a:hover {
  color: #0050b2;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}

.section-header {
  background-color: #c9e7f1;
  padding-top: 2rem;
}

.nav {
  width: 100%;
}
.nav__links {
  width: 60%;
  justify-content: right;
  gap: 5rem;
}
@media (max-width: 73em) {
  .nav__links {
    width: 52%;
    gap: 2rem;
  }
}
@media (max-width: 59em) {
  .nav__links {
    display: none;
  }
}
.nav__items {
  position: relative;
}
.nav__link.activeLink::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #0050b2;
  position: absolute;
  top: 100%;
  left: 50%;
  border-radius: 50%;
}
.nav__link.activeLink {
  color: #0050b2;
}
.nav__link:link {
  color: #4c5267;
}
.nav__link:hover {
  color: #0050b2;
}

.navbar-toggler {
  border: transparent;
  outline: none;
  background-color: transparent;
  display: none;
}
.navbar-toggler img {
  height: 3rem;
}

.tablet-nav--container {
  position: absolute;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8784313725);
  height: 100vh;
  width: 50%;
  transform: translateX(100%);
  z-index: 1000;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 59em) {
  .navbar-toggler {
    display: block;
  }
  .tablet-nav--container.open-tablet-menu {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (max-width: 48em) {
  .tablet-nav--container {
    display: flex;
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (max-width: 48em) {
  .tablet-nav--container {
    width: 70%;
  }
}
.tablet-nav--container {
  gap: 2rem;
}

.tablet-nav--container__links a {
  color: white;
  font-size: 2rem;
}
.tablet-nav--container__links a:hover {
  color: #0050b2;
}

.tablet-nav--container li {
  margin-bottom: 20px;
}

.tablet-nav--container li:last-child {
  margin-bottom: 20px;
}

.tablet-nav--container-btn-close {
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  border: none;
  outline: none;
  top: 1rem;
  left: 1rem;
  padding: none;
  box-sizing: border-box;
}

.tablet-nav--container-btn-close ion-icon[name=close-circle-outline] {
  font-size: 5rem;
  color: white;
}

.tab-register {
  align-self: center;
  justify-self: center;
  display: flex;
  gap: 2rem;
  padding-top: 3rem;
}

.tab-register a {
  color: white;
  padding: 1rem 2rem;
  background-color: #0050b2;
  font-size: 2rem;
  border-radius: 16px;
}

.hero-section {
  padding-top: 4.8rem;
  background-color: #c9e7f1;
}
.hero-section .hero {
  padding-bottom: 8rem;
  gap: 3rem;
}
@media (max-width: 75em) {
  .hero-section .hero {
    gap: 1rem;
  }
}
@media (max-width: 59em) {
  .hero-section .hero {
    grid-template-columns: 1fr;
    gap: 3rem;
    padding-bottom: 2rem;
  }
}
.hero-section .hero__left {
  padding-top: 5rem;
}
@media (max-width: 59em) {
  .hero-section .hero__left {
    text-align: center;
  }
}
.hero-section .hero__right figure img {
  width: 100%;
}
.hero-section .hero__description {
  padding-top: 4rem;
  line-height: 1.5;
  color: #4c5267;
}
.hero-section .hero__market-condition {
  padding-top: 3rem;
  display: flex;
  gap: 3rem;
}
@media (max-width: 59em) {
  .hero-section .hero__market-condition {
    justify-content: center;
  }
}
.hero-section .hero__market-condition span {
  color: #4c5267;
}
.hero-section .email {
  padding-top: 2rem;
  width: 100%;
}
.hero-section .email__input {
  width: 55%;
  height: 5.2rem;
  border-radius: 5px;
  border: none;
  outline: none;
}
@media (max-width: 34em) {
  .hero-section .email__input {
    width: 80%;
    margin-bottom: 2rem;
  }
}
.hero-section .email__input::placeholder {
  font-size: 1.6rem;
}
.hero-section input[type=text] {
  padding: 0 1rem;
  font-size: 2rem;
}

.section-banca-stats {
  background-color: #0e1520;
  padding: 5rem 0rem;
}
.section-banca-stats .banca-stats--container {
  gap: 2rem;
}
@media (max-width: 44em) {
  .section-banca-stats .banca-stats--container {
    grid-template-columns: 1fr;
  }
}
.section-banca-stats .banca-stats__card {
  gap: 1rem;
  background-color: #0e1520;
}
.section-banca-stats .banca-stats__icon-bg {
  padding: 2.5rem;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-banca-stats .banca-stats__icon {
  color: #0050b2;
  font-size: 3rem;
}
.section-banca-stats .banca-stats__text {
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
}

.section-feature {
  background-color: #f6f6f6;
  padding: 5rem 0rem;
}
.section-feature .feature {
  text-align: center;
}
.section-feature .feature__cards {
  padding-top: 5rem;
  gap: 3rem;
}
@media (max-width: 59em) {
  .section-feature .feature__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 44em) {
  .section-feature .feature__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 34em) {
  .section-feature .feature__cards {
    grid-template-columns: 1fr;
  }
}
.section-feature .cards-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  padding: 4rem;
}
.section-feature .cards-item__svg {
  padding-bottom: 3rem;
}
.section-feature .cards-item__svg img {
  height: 5vw;
}
.section-feature .cards-item__tittle {
  font-size: 2rem;
  padding-bottom: 2rem;
  font-weight: 600;
}
.section-feature .cards-item:last-child {
  background-color: #0050b2;
  color: white;
}
.section-feature .cards-item:last-child .cards-item__tittle {
  font-size: 5rem;
  font-weight: 800;
}
.section-feature .cards-item:last-child .card-item__text--link {
  font-size: 2rem;
  margin-right: 2px;
  transition: all 1s ease;
  color: white;
}
.section-feature .cards-item:last-child .card-item__text--link:hover .card-item__arrow {
  animation: moveR 1s forwards;
}
.section-feature .cards-item:last-child .card-item__text--link:not(:hover) .card-item__arrow {
  animation: moveL 1s;
}
.section-feature .cards-item:not(:last-child):hover {
  box-shadow: 0px 5.9348835945px 29.6744174957px rgba(6, 7, 46, 0.344);
}

.section-loan {
  background-color: white;
  padding: 5rem 0rem;
}
@media (max-width: 44em) {
  .section-loan > div {
    grid-template-columns: 1fr;
  }
}
.section-loan .loan {
  padding-top: 5rem;
  gap: 2rem;
}
.section-loan .loan__process {
  align-self: center;
}
.section-loan .loan__text {
  padding-top: 4rem;
  line-height: 1.5;
}
.section-loan .loan__list-item {
  padding-top: 4rem;
  color: #6a737c;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.section-loan .loan__list-item li:not(:last-child) {
  margin-bottom: 1rem;
}
.section-loan .loan__link {
  margin-top: 5rem;
  color: #0050b2;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.section-loan .loan__link::before {
  content: "";
  height: 2px;
  width: 0rem;
  background-color: #0050b2;
  position: absolute;
  bottom: -2px;
}
.section-loan .loan__link:hover::before {
  animation: moveLeft 0.5s ease-in-out forwards;
}
.section-loan .loan__link:not(:hover)::before {
  animation: moveRight 0.5s ease-in-out;
}
.section-loan .loan__stats {
  align-self: center;
  padding-top: 3rem;
  grid-template-rows: min-content;
  grid-template-columns: repeat(2, min-content);
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}
.section-loan .loan__stats--num {
  color: #0c0d0e;
  font-size: 5rem;
  font-weight: 600;
}
.section-loan .loan__stats--text {
  line-height: 1.5;
  color: #4c5267;
}
.section-loan .loan__img {
  display: grid;
  grid-template-rows: min-content 29rem min-content;
}
.section-loan .loan__img > figure {
  width: 100%;
}
.section-loan .loan__img--1 {
  margin-bottom: -2rem;
  width: 100%;
}
.section-loan .loan__img--2 {
  margin-top: -1rem;
  width: 100%;
}
.section-loan .loan__img--customer {
  width: 100%;
}
.section-loan .loan__img .loan__message {
  position: relative;
  overflow: hidden;
}
.section-loan .loan__img .loan__message::before {
  content: "";
  height: 47rem;
  width: 47rem;
  background: radial-gradient(50% 50% at 50% 50%, rgba(220, 31, 53, 0.231372549) 39.06%, rgba(238, 106, 45, 0) 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-loan .loan__img .loan__message-img--1 {
  top: 0%;
  left: 30%;
  position: absolute;
}
.section-loan .loan__img .loan__message-img--2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-loan .loan__img .loan__message-img--3 {
  position: absolute;
  left: 50%;
  bottom: 0%;
  height: 9.4rem;
}
.section-loan .loan__card-holder {
  position: relative;
  height: 50rem;
}
.section-loan .loan__card-holder::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background: radial-gradient(100% 100% at 20% 30%, rgba(175, 255, 238, 0.62) 40%, rgba(247, 173, 83, 0.526) 60%);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  filter: blur(60px);
}
.section-loan .loan__card-holder-img--1 {
  position: absolute;
  height: 100%;
  width: 100%;
}
.section-loan .loan__card-holder-img--2 {
  position: absolute;
  z-index: 2;
  top: 75%;
  transform: translateY(-50%);
  height: 20rem;
}

.section-loan-calculator {
  padding: 5rem 2.5rem;
  text-align: center;
  background: url("/calculator-bg.png"), #0e1520;
}
.section-loan-calculator h2 {
  padding-bottom: 5rem;
}
.section-loan-calculator .loan-calculator--container {
  max-width: 45rem;
  margin: 0 auto;
}
.section-loan-calculator .loan-calculator--container .loan-calculator {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 3rem;
}
@media (max-width: 44em) {
  .section-loan-calculator .loan-calculator--container .loan-calculator {
    width: 100%;
  }
}
.section-loan-calculator .loan-calculator--container .loan-calculator h3 {
  font-size: 3rem;
  text-align: left;
  font-weight: 700;
  padding-bottom: 2rem;
}
.section-loan-calculator .loan-calculator--container .loan-calculator__form {
  text-align: start;
}
.section-loan-calculator .loan-calculator--container .loan-calculator__form label {
  display: block;
  font-weight: 600;
  margin-bottom: 1rem;
}
.section-loan-calculator .loan-calculator--container .loan-calculator__form input,
.section-loan-calculator .loan-calculator--container .loan-calculator__form select {
  width: 100%;
  margin-bottom: 3rem;
  outline: #0050b2;
  background-color: #f2f2f2;
  color: #9199a1;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border-radius: 4px;
  height: 5rem;
  font-size: 1.6rem;
  border-color: transparent;
}
.section-loan-calculator .loan-calculator--container .loan-calculator__form input:focus,
.section-loan-calculator .loan-calculator--container .loan-calculator__form select:focus {
  border: 1px solid #0050b2;
  border-radius: 5px;
}
.section-loan-calculator .loan-calculator--container .loan-calculator__form input[type=text],
.section-loan-calculator .loan-calculator--container .loan-calculator__form input[type=number] {
  padding: 0 1rem;
}
.section-loan-calculator .loan-calculator--container .loan-calculator__form input[type=number]::-webkit-inner-spin-button,
.section-loan-calculator .loan-calculator--container .loan-calculator__form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.section-loan-calculator .loan-calculator--container .loan-calculator__form div:nth-child(2) > div,
.section-loan-calculator .loan-calculator--container .loan-calculator__form div:nth-child(4) > div {
  position: relative;
}
.section-loan-calculator .loan-calculator--container .loan-calculator__form div:nth-child(2) div > span,
.section-loan-calculator .loan-calculator--container .loan-calculator__form div:nth-child(4) div > span {
  position: absolute;
  top: 35%;
  right: 2%;
  transform: translate(-50%, -50%);
}
.section-loan-calculator .loan-calculator--container .loan-calculator__form Button {
  width: 100%;
}

.section-contact-us {
  background-color: #f6f6f6;
  padding: 10rem 0 5rem 0;
}
.section-contact-us .contact-us {
  gap: 5rem;
}
@media (max-width: 44em) {
  .section-contact-us .contact-us {
    grid-template-columns: 1fr;
  }
}
.section-contact-us .contact-us__form {
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  padding: 5rem;
  width: 100%;
}
.section-contact-us .contact-us__form > h3 {
  font-size: 3rem;
  padding-bottom: 5rem;
}
.section-contact-us .contact-us__form div input {
  width: 100%;
  margin-bottom: 2rem;
  background-color: #f2f2f2;
  color: #9199a1;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border-radius: 5px;
  line-height: 40px;
  font-size: 1.6rem;
  border-color: transparent;
  outline: none;
}
.section-contact-us .contact-us__form div input[name=message] {
  width: 100%;
  display: block;
  padding-bottom: 7rem;
}
.section-contact-us .contact-us__form div input .section-contact-us .contact-us__form > input:focus {
  border: 1px solid #0050b2;
  border-radius: 5px;
}
.section-contact-us .contact-us__form > input[type=text] {
  padding: 0 1rem;
}
.section-contact-us .contact-us__stats {
  padding-top: 3rem;
}
.section-contact-us .contact-us__stats .stats-tittle {
  padding-bottom: 1rem;
}
.section-contact-us .contact-us__stats .stats-text {
  padding-bottom: 3rem;
}
.section-contact-us .contact-us__stats .stats-num .stats-num--contact-us {
  color: #0c0d0e;
  font-size: 5rem;
  font-weight: 600;
}