.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.ml--small {
  margin-left: 2rem;
}

.check-box {
  color: $color-blue;
  font-size: 2rem;
  margin-right: 1rem;
}
.paragraph {
  color: $color-text;
  line-height: 1.5;
}
.text-center {
  text-align: center;
}
.stats-container {
  gap: 3rem;
  align-items: center;
}
@media (max-width: 59em) {
  .d-none-tablet {
    display: none;
  }
}
.user-picture,
.user-picture--welcome {
  & img {
    width: 100%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}
.user-picture--transaction {
  & img {
    height: 30px;
    width: 30px;
  }
}
.user-picture--welcome {
  position: relative;
  &::after {
    display: block;
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #28a745;
    position: absolute;
    top: 1%;
    right: 7%;
  }
}

.credit {
  color: #28a745;
}
.debit {
  color: #ff5724;
}
.container-dashboard {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 5px;
}
.container-dashboard.container-dashboard--shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.2);
}
