.dashboard-sidebar {
  @media (max-width: 38em) {
    order: 2;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  background-color: $color-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  .nav {
    padding: 5rem 2rem 0 3rem;
    @media (max-width: 38em) {
      padding: 1rem 1rem 0rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__logo {
      @media (max-width: 38em) {
        margin-top: 7px;

        border-right: 2.5px solid rgba(255, 255, 255, 0.8);
      }
      margin-bottom: 3rem;
      img:first-child {
        width: 5rem;
      }
      img:last-child {
        width: 8rem;
        @media (max-width: 59em) {
          display: none;
        }
      }
    }
    &__link {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #ffff;
      font-size: 18px;
      margin-bottom: 2rem;
      padding: 1.2rem 1rem;
      border-radius: 10px;
      & span {
        @media (max-width: 59em) {
          display: none;
        }
      }

      .nav__icon {
        height: 2rem;
        width: 2rem;
        fill: #ffff;
        @media (max-width: 59em) {
          width: 3rem;
          height: 3rem;
        }
      }

      &.active,
      &:hover {
        background-color: #00bfff;
      }
    }
    &__link.mobile-nav {
      display: none;
      @media (max-width: 38em) {
        display: block;
      }
    }
  }
}
.dashboard-main {
  @media (max-width: 38em) {
    order: 1;
    padding-bottom: 10rem;
  }
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    border-bottom: 1px solid #e6e8e7;
    @media (max-width: 38em) {
      padding: 1rem 2rem;
    }

    &__left {
      .customer-welcome {
        display: flex;
        align-items: center;
        gap: 10px;
        @media (max-width: 38em) {
          flex-direction: column-reverse;
        }
        & p {
          & span {
            margin-left: 5px;
          }
        }
        &__img {
          position: relative;
          & img {
            width: 100%;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            @media (max-width: 38em) {
              width: 50%;
            }
          }
          &::after {
            display: block;
            content: "";
            height: 10px;
            width: 10px;
            border-radius: 50%;
            border: 1px solid #fff;
            background-color: #28a745;
            position: absolute;
            top: 1%;
            right: 7%;
          }
        }
      }
    }
    &__right {
      .header-icons {
        display: flex;
        align-items: center;
        gap: 20px;
        .dark-mode-toggler {
          cursor: pointer;
        }
        & ion-icon {
          font-size: 30px;
        }
        & .dark-mode-toggler ion-icon {
          color: #fbbf24;
        }

        .logout {
          @media (max-width: 38em) {
            display: none;
          }
          color: #000;
          & ion-icon[name="log-out"] {
            color: #000;
          }
        }
      }
    }
  }
  main {
    margin-top: 10px;
    padding: 0 3rem;
    @media (max-width: 59em) {
      padding: 0 2rem;
    }
    .customer-account {
      padding: 1rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $color-blue;
      border-radius: 5px;
      color: #fff;
      height: 22rem;

      &__left {
        .account-info {
          display: flex;
          gap: 15px;
          margin-bottom: 20px;
          &__name,
          &__number,
          &__balance {
            font-weight: 600;
          }
          & > div p:nth-of-type(1) {
            font-size: 1.8rem;
            font-weight: 500;
          }
        }
        .account-stats {
          display: flex;
          gap: 15px;
          & > div p:nth-of-type(2) {
            display: flex;
            align-items: center;
            font-weight: 600;
            & ion-icon[name="arrow-up"],
            & ion-icon[name="arrow-down"] {
              background-color: rgba(0, 0, 0, 0.2);
              border-radius: 50%;
              margin-right: 3px;
              padding: 3px;
            }
          }
          & > div p:nth-of-type(1) {
            font-size: 1.8rem;
            font-weight: 500;
          }
        }
      }
      &__right {
        align-items: end;
        & img {
          width: 100%;
          max-width: 250px;
          height: auto;
          object-fit: contain;
          @media (max-width: 59em) {
            width: 80%;
          }
          @media (max-width: 44em) {
            width: 70%;
          }
          @media (max-width: 38em) {
            display: none;
          }
        }
      }
    }
    .transaction {
      margin: 3rem 0;
      display: grid;
      grid-template-columns: 3fr 2fr;
      column-gap: 30px;
      @media (max-width: 44em) {
        grid-template-columns: none;
        grid-template-rows: auto auto;
        row-gap: 30px;
      }
      &__history {
        &__heading {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 1rem;
          & span {
            color: #334155;
          }
          & a {
            display: inline-block;
            color: $color-blue;
            border-bottom: 1px currentColor dotted;

            &:hover {
              color: #334155;
            }
          }
        }
        &__item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .transaction-details {
            &__date {
              color: #94a3b8;
            }
          }
        }

        &__item.empty {
          display: flex;
          flex-direction: column;
          & span {
            font-weight: 600;
          }
          & p {
            text-align: center;
          }
          img {
            width: 15rem;
            margin-bottom: 5px;
          }
        }

        &__send-money {
          color: #94a3b8;
          & span {
            color: #334155;
          }

          .view-contacts {
            & span {
              color: #94a3b8;
            }
            & ion-icon[name="arrow-forward"] {
              font-size: 18px;
            }
          }
          .pay,
          .pay + .amount {
            & label {
              display: block;
              margin-bottom: 1rem;
            }
            & input {
              width: 100%;
              padding: 1rem 1rem;
              border: solid 1px #a79f9f;
              border-radius: 5px;
              &:focus {
                outline: solid 1px $color-blue;
              }
            }
            & input[type="number"]::-webkit-inner-spin-button,
            & input[type="number"]::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
          .total {
            & p {
              color: #334155;
            }
          }
          button {
            padding: 1rem 0rem;
            border-radius: 5px;
            border: none;
            background-color: $color-blue;
            color: #fff;
          }
        }
      }
    }
    .transaction.transaction--view {
      grid-template-columns: 1fr;
      height: 100vh;
      overflow-y: scroll;
      margin: 0;
      .transaction__history {
        .transaction__history__heading,
        .transaction__history__item {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          padding: 0.5rem 0;
        }
      }
    }
    .fund {
      margin: 3rem 0;
      display: grid;
      grid-template-columns: 2fr 3fr;
      column-gap: 30px;
      @media (max-width: 44em) {
        grid-template-columns: none;
        grid-template-rows: auto auto;
        row-gap: 30px;
      }
      .fund-account {
        align-self: start;
        @media (max-width: 44em) {
          order: 2;
        }
        & figure {
          width: 2rem;
        }
        & label {
          display: block;
          margin-bottom: 1rem;
        }

        & input {
          width: 100%;
          padding: 1rem 1rem;
          border: solid 1px #a79f9f;
          border-radius: 5px;
          &:focus {
            outline: solid 1px $color-blue;
          }
        }
        & input[type="number"]::-webkit-inner-spin-button,
        & input[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        button {
          cursor: pointer;
          padding: 1rem 0rem;
          border-radius: 5px;
          border: none;
          background-color: $color-blue;
          color: #fff;
        }
      }
    }
    .loan-view {
      height: 60vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: center;
        img {
          align-self: center;
          width: 7rem;
          margin-bottom: 20px;
        }
        p {
          text-align: center;
          a {
            color: $color-blue;
            font-weight: 700;
          }
        }
      }
    }
  }
}

// notfication
.notification-container {
  @media (max-width: 38em) {
    display: none;
  }
  &.mobile-nav {
    @media (max-width: 38em) {
      display: block;
    }
  }
  position: relative;
  .notification {
    position: absolute;
    top: -12%;
    right: -4%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 19px;
    width: 19px;
    background-color: red;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
  }
  .notification.mobile-nav {
    top: -30%;
    right: -23%;
  }
}

// dark mode

html.dark-mode {
  .page-spinner {
    border: 3px solid $color-white;
    border-bottom-color: transparent;
  }
  .dashboard-main {
    background-color: rgba(0, 0, 0, 0.9) !important;
    .header-nav {
      p,
      span {
        color: $color-white;
      }
    }
  }
  .dashboard-sidebar {
    background-color: $color-black !important;
  }
  .customer-account {
    background-color: $color-black !important;
    & ion-icon[name="arrow-up"],
    & ion-icon[name="arrow-down"] {
      background-color: rgb(255, 255, 255, 0.1) !important;
    }
  }
  .transaction__history.container-dashboard.container-dashboard--shadow,
  .transaction__history__send-money,
  .fund-account.container-dashboard {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .fund-account.container-dashboard {
    p,
    span {
      color: $color-white !important;
    }
  }
  .transaction__history__heading {
    span {
      color: $color-white !important;
    }
  }
  .transaction__history {
    .transaction__history__heading,
    .transaction__history__item {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
      padding: 0.5rem 0;
    }
  }
  .transaction__history__send-money {
    span,
    p {
      color: $color-white !important;
    }
  }
  .transaction-details > p:first-child {
    color: $color-white !important;
  }

  .loan-view {
    p {
      color: $color-white;
    }
  }

  button {
    background-color: $color-black !important;
  }
  .toast {
    background-color: $color-black;
    border-left: solid 6px $color-white;
    color: $color-white !important;
    & .toast-message--text {
      color: #c4c4c4 !important;
    }
    & .toast-close-icon {
      color: $color-white;
    }
    & .toast-icon.toast-icon--success {
      color: $color-white;
    }
    & .toast-icon.toast-icon--error {
      color: #ff0000;
    }

    &::before {
      background-color: $color-white;
    }
    &::after {
      background-color: $color-white;
    }
  }
}
