.dashboard-sidebar {
  background-color: $color-blue;
  display: flex;
  flex-direction: column;
  align-items: center;

  .nav {
    padding: 5rem 2rem 0 3rem;
    &__logo {
      margin-bottom: 3rem;
    }
    &__link {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #ffff;
      font-size: 18px;
      margin-bottom: 2rem;
      padding: 1.2rem 1rem;
      border-radius: 10px;
      .nav__icon {
        height: 2rem;
        width: 2rem;
        fill: #ffff;
      }
      &.active,
      &:hover {
        background-color: #00bfff;
      }
    }
  }
}
.dashboard-main {
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    border-bottom: 1px solid #e6e8e7;
    &__left {
      .customer-welcome {
        display: flex;
        align-items: center;
        gap: 10px;
        & p {
          & span {
            margin-left: 5px;
          }
        }
        &__img {
          position: relative;
          & img {
            width: 100%;
            height: 50px;
            width: 50px;
            border-radius: 50%;
          }
          &::after {
            display: block;
            content: "";
            height: 10px;
            width: 10px;
            border-radius: 50%;
            border: 1px solid #fff;
            background-color: #28a745;
            position: absolute;
            top: 1%;
            right: 7%;
          }
        }
      }
    }
    &__right {
      .header-icons {
        display: flex;
        align-items: center;
        gap: 20px;
        & ion-icon {
          font-size: 30px;
        }
        & ion-icon[name="sunny"] {
          color: #fbbf24;
        }
        .notification-container {
          position: relative;
          .notification {
            position: absolute;
            top: -12%;
            right: -4%;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 19px;
            width: 19px;
            background-color: red;
            border-radius: 50%;
            color: #fff;
            font-size: 10px;
            font-weight: 600;
          }
        }
        .logout {
          color: #000;
          & ion-icon[name="log-out"] {
            color: #000;
          }
        }
      }
    }
  }
  main {
    margin-top: 10px;
    padding: 0 3rem;
    .customer-account {
      padding: 1rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      background-color: $color-blue;
      border-radius: 5px;
      color: #fff;
      &__left {
        .account-info {
          display: flex;
          gap: 15px;
          margin-bottom: 20px;
          &__name,
          &__number,
          &__balance {
            font-weight: 600;
          }
          & > div p:nth-of-type(1) {
            font-size: 1.8rem;
            font-weight: 500;
          }
        }
        .account-stats {
          display: flex;
          gap: 15px;
          & > div p:nth-of-type(2) {
            display: flex;
            align-items: center;
            font-weight: 600;
            & ion-icon[name="arrow-up"],
            & ion-icon[name="arrow-down"] {
              background-color: rgba(0, 0, 0, 0.2);
              border-radius: 50%;
              margin-right: 3px;
              padding: 3px;
            }
          }
          & > div p:nth-of-type(1) {
            font-size: 1.8rem;
            font-weight: 500;
          }
        }
      }
      &__right {
        & img {
          width: 30rem;
        }
      }
    }
    .transaction {
      margin: 3rem 0;
      display: grid;
      grid-template-columns: 3fr 2fr;
      column-gap: 30px;
      &__history {
        &__heading {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 1rem;
          & span {
            color: #334155;
          }
          & a {
            display: inline-block;
            color: $color-blue;
            border-bottom: 1px currentColor dotted;

            &:hover {
              color: #334155;
            }
          }
        }
        &__item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .transaction-details {
            &__date {
              color: #94a3b8;
            }
          }
        }

        &__item.empty {
          display: flex;
          flex-direction: column;
          & span {
            font-weight: 600;
          }
          & p {
            text-align: center;
          }
          img {
            width: 15rem;
            margin-bottom: 5px;
          }
        }

        &__send-money {
          color: #94a3b8;
          & span {
            color: #334155;
          }

          .view-contacts {
            & span {
              color: #94a3b8;
            }
            & ion-icon[name="arrow-forward"] {
              font-size: 18px;
            }
          }
          .pay,
          .pay + .amount {
            & label {
              display: block;
              margin-bottom: 1rem;
            }
            & input {
              width: 100%;
              padding: 1rem 1rem;
              border: solid 1px #a79f9f;
              border-radius: 5px;
              &:focus {
                outline: solid 1px $color-blue;
              }
            }
            & input[type="number"]::-webkit-inner-spin-button,
            & input[type="number"]::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
          .total {
            & p {
              color: #334155;
            }
          }
          button {
            padding: 1rem 0rem;
            border-radius: 5px;
            border: none;
            background-color: $color-blue;
            color: #fff;
          }
        }
      }
    }
    .transaction.transaction--view {
      grid-template-columns: 1fr;
      height: 100vh;
      overflow-y: scroll;
      margin: 0;
      .transaction__history {
        .transaction__history__heading,
        .transaction__history__item {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          padding: 0.5rem 0;
        }
      }
    }
    .fund {
      margin: 3rem 0;
      display: grid;
      grid-template-columns: 2fr 3fr;
      column-gap: 30px;
      .fund-account {
        & figure {
          width: 2rem;
        }
        & label {
          display: block;
          margin-bottom: 1rem;
        }
        & input {
          width: 100%;
          padding: 1rem 1rem;
          border: solid 1px #a79f9f;
          border-radius: 5px;
          &:focus {
            outline: solid 1px $color-blue;
          }
        }
        & input[type="number"]::-webkit-inner-spin-button,
        & input[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        button {
          cursor: pointer;
          padding: 1rem 0rem;
          border-radius: 5px;
          border: none;
          background-color: $color-blue;
          color: #fff;
        }
      }
    }
  }
}
