body {
  font-size: $default-font-size;
  font-weight: 400;
  font-family: sans-serif;
}
.header-primary {
  color: $color-heading--primary;
  font-size: 5rem;
  font-weight: 600;
  @media(max-width:75em){
    font-size: 3.5rem;
  }
}
.header-primary--light {
  color: $color-white;
}
.header-primary--hero {
  font-size: 6rem;
  @media(max-width:75em){
    font-size: 4.5rem;
  }
}
.header-secondary {
  color: $color-text;
  font-family: "poppins";
  font-family: 1rem;
  color: $color-heading--secondary;
}
