.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.ml--small {
  margin-left: 2rem;
}
.header-primary {
  color: $color-heading--primary;
  font-size: 5rem;
  font-weight: 600;
}
.header-primary--light {
  color: $color-white;
}
.header-primary--hero {
  font-size: 6rem;
}
.header-secondary {
  color: $color-text;
  font-family: "poppins";
  font-family: 1rem;
  color: $color-heading--secondary;
}
.check-box {
  color: $color-blue;
  font-size: 2rem;
  margin-right: 1rem;
}
.paragraph {
  color: $color-text;
  line-height: 1.5;
}
.text-center {
  text-align: center;
}
