.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.ml--small {
  margin-left: 2rem;
}

.check-box {
  color: $color-blue;
  font-size: 2rem;
  margin-right: 1rem;
}
.paragraph {
  color: $color-text;
  line-height: 1.5;
}
.text-center {
  text-align: center;
}
.stats-container {
  gap: 3rem;
  align-items: center;
}
@media (max-width:59em){
  .d-none-tablet{
  display: none;
  }   
}