// // COLORS
$color-blue: #0050b2;
$color-black: #000000;
$color-blue--black: #0e1520;
$color-blue--light: #c9e7f1;
$color-white: #ffff;
$color-light--grey: #f6f6f6;
$color-shade--gray: #ebebeb;
$color-text: #4c5267;
$color-text--list: #6a737c;
$color-heading--primary: #0c0d0e;
$color-heading--secondary: #a7b4c0;

//FONT
$default-font-size: 1.6rem;
