.u-flex {
  display: flex;
}
.u-flex-d-col {
  flex-direction: column;
}
.u-flex-d-row {
  flex-direction: row;
}
.u-flex-v-center {
  align-items: center;
}
.u-flex-h-center {
  justify-content: center;
}
.u-flex-space-between {
  justify-content: space-between;
}
.u-text-center {
  text-align: center;
}
.u-gap-small {
  gap: 5px;
}
