.btn-cta {
  & span {
    position: relative;
    z-index: 1;
  }
  padding: 1.5rem 3.5rem;
  background-color: $color-blue;
  border-radius: 5px;
  color: $color-white;
  border: none;
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  &::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 0%;
    left: -100%;
  }
  &:hover::before {
    animation: fillButton 0.5s forwards;
  }
  &:not(:hover)::before {
    animation: unfillButton 0.5s;
  }
}
